body {
    max-width: 100%;
    background-image: url(assets/background.png);
    background-size: cover;
}

#container {
    display: flex;
    height: 100%;
}

#box {
    display: flex;
    align-items: flex-start;
    height: 700px;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;  
}

#location {
    text-align: start;
    margin-left: 20px;
    font-size: 35px;
    font-family: "Papyrus", fantasy;

}

#flag {
    max-width: 300px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);
}

#attractions {
    margin-left: 20px;
    text-align: center;
    font-family: "Papyrus", fantasy;
}

#attractions li {
    list-style: none;
}

#island-info {
    align-self: center;
    padding-top: 10px;
}
#island-info li{
    padding: 15px;
    font-family: "Papyrus", fantasy;
    font-size: 20px;
}



#title {
    text-align: center;
    font-family: "Papyrus", fantasy;
}

#left {
    width:  25%;
    height: 100%;
    margin-left: 20px;
    position: relative;
}
#right {
    width:  25%;
    height: 100%;
    margin-left: 20px;
    position: relative;
}

/* 
#left-list {
    position: relative;
    max-width: 300px;
    margin-left: 15px;
    list-style: none;
    font-family: "Papyrus", fantasy;
    font-size: 50px;
}

#right-list {
    position: relative;
    max-width: 300px;
    margin-left: 15px;
    list-style: none;
    font-family: "Papyrus", fantasy;
    font-size: 50px;
} */

#left-flag {
    max-width: 300px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);
}

#right-flag {
    max-width: 300px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);
}

